
<form asp-action="Create" asp-controller="Post">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" placeholder="Post Title">
    </div>
    <div class="mb-3">
        <label class="form-label">Post</label>
        <textarea type="text" class="form-control" name="content" placeholder="Post Content" id="content" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Post</button>
    <button asp-action="Index" class="btn btn-secondary" asp-route-id=@ViewBag.CurrentTopicID>Cancel</button>
</form>

