@model Post

<form asp-action="Edit" asp-route-id="@Model.Id">
    <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control" name="title" value="@Model.Title" placeholder="Post Title">
    </div>
    <div class="mb-3">
        <label class="form-label">Post</label>
        <textarea type="text" class="form-control" name="content" id="content" rows="4">@Model.Content</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
    <button asp-action="Index" class="btn btn-secondary" asp-route-id=@Model.TopicId>Cancel</button>
</form>


