@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
    <div class="d-grid gap-2">
        <a asp-action="Index" asp-controller="Topic">
            <button class="btn btn-primary btn-lg" type="button">Go to Topics</button>
        </a>
    </div>
    <br>
    <br>
    <br>
    <h4>
        SCIV is a platform, where users can share their science, mathematics or music / art problems and seek help with solving them.
        It can also be used as discussion platofrm for popular topics or news.
    </h4>
</div>
